@use '../settings' as s;

.backToTop {
  position: fixed;
  width: s.$size-60;
  height: s.$size-60;
  text-align: center;
  line-height: 1;
  padding: s.$size-8;
  z-index: 10;
  bottom: s.$size-16;
  right: s.$size-16;
  transition-duration: s.$animation-speed;
  transition-timing-function: ease-in-out;
  border: s.$size-2 solid s.$black;

  @media screen and (max-width: (s.$tablet-md - 1)) {
    padding: s.$size-4;
    height: s.$size-48;
    width: s.$size-48;

    svg {
      width: s.$size-24;
      height: s.$size-24;
    }
  }

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}
