@use '../settings' as s;

.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  background-color: s.$primary;
  border-radius: s.$size-52;
  border: none;
  color: s.$secondary;
  cursor: pointer;
  display: inline-block;
  font-family: s.$font-bold;
  font-size: s.$size-16;
  text-transform: uppercase;
  letter-spacing: s.$size-1;
  padding: s.$size-16 s.$size-32;
  text-align: center;
  text-decoration: none;
  transition-duration: s.$animation-speed;
  @include outlineBox;

  @media screen and (max-width: ($tablet-md - 1)) {
    font-size: s.$size-14;
    padding: s.$size-8 s.$size-16;
  }

  &:hover {
    @media screen and (min-width: ($tablet-md)) {
      background-color: s.$primary-light;
      color: s.$secondary;
    }
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: s.$primary-light;
    cursor: not-allowed;
  }

  &[class$='-outline'] {
    border-width: s.$size-2;
    border-style: solid;
  }

  &.primary-outline {
    background-color: transparent;
    color: s.$primary;
    border-color: s.$primary;

    &:hover {
      @media screen and (min-width: ($tablet-md)) {
        background-color: s.$primary;
        color: s.$secondary;
      }
    }

    &:disabled {
      background-color: s.$primary-light;
      color: s.$gray-dark;
      border-color: s.$gray-dark;
    }
  }

  &.secondary {
    background-color: s.$secondary;
    color: s.$black;

    &:hover {
      @media screen and (min-width: ($tablet-md)) {
        background-color: s.$secondary-dark;
      }
    }

    &:disabled {
      background-color: s.$gray-light;
    }
  }

  &.secondary-outline {
    background-color: transparent;
    color: s.$secondary;
    border-color: s.$secondary;

    &:hover {
      @media screen and (min-width: ($tablet-md)) {
        background-color: s.$secondary;
        color: s.$black;
      }
    }

    &:disabled {
      background-color: s.$gray-light;
      color: s.$gray;
      border-color: s.$gray;
    }
  }

  &.tertiary {
    background-color: s.$tertiary;

    &:hover {
      @media screen and (min-width: ($tablet-md)) {
        background-color: s.$tertiary-dark;
      }
    }

    &:disabled {
      background-color: s.$tertiary-light;
      color: s.$gray-dark;
    }
  }

  &.tertiary-outline {
    background-color: transparent;
    color: s.$tertiary;
    border-color: s.$tertiary;

    &:hover {
      @media screen and (min-width: ($tablet-md)) {
        background-color: s.$tertiary;
        color: s.$secondary;
      }
    }

    &:disabled {
      background-color: s.$tertiary-light;
      color: s.$gray-dark;
      border-color: s.$gray-dark;
    }
  }

  &.quaternary {
    background-color: s.$quaternary;
    color: s.$black;

    &::selection {
      background: s.$quaternary-dark;
      color: s.$white;
    }

    &:hover {
      @media screen and (min-width: ($tablet-md)) {
        background-color: s.$quaternary-dark;
      }
    }

    &:disabled {
      background-color: s.$quaternary-light;
      color: s.$gray-dark;
    }
  }

  &.quaternary-outline {
    background-color: transparent;
    color: s.$quaternary;
    border-color: s.$quaternary;

    &:hover {
      @media screen and (min-width: ($tablet-md)) {
        background-color: s.$quaternary;
        color: s.$secondary;

        &::selection {
          background: s.$quaternary-dark;
          color: s.$white;
        }
      }
    }

    &:disabled {
      background-color: s.$quaternary-light;
      color: s.$gray-dark;
      border-color: s.$gray-dark;
    }
  }

  &.black {
    background-color: s.$black;
    color: s.$white;

    &:hover {
      @media screen and (min-width: ($tablet-md)) {
        background-color: s.$white;
        color: s.$black;
      }
    }

    &:disabled {
      background-color: s.$gray-light;
      color: s.$gray-dark;
    }
  }

  &.black-outline {
    background-color: transparent;
    border-color: s.$black;
    color: s.$black;

    &:hover {
      @media screen and (min-width: ($tablet-md)) {
        background-color: s.$black;
        color: s.$white;
      }
    }

    &:disabled {
      background-color: s.$gray-light;
      color: s.$gray-dark;
      border-color: s.$gray-dark;
    }
  }

  &.white {
    background-color: s.$white;
    color: s.$black;

    &:hover {
      @media screen and (min-width: ($tablet-md)) {
        background-color: s.$black;
        color: s.$white;
      }
    }

    &:disabled {
      background-color: s.$gray-light;
      color: s.$gray-dark;
    }
  }

  &.white-outline {
    background-color: transparent;
    border-color: s.$white;
    color: s.$white;

    &:hover {
      @media screen and (min-width: ($tablet-md)) {
        background-color: s.$white;
        color: s.$black;
      }
    }

    &:disabled {
      background-color: s.$gray-light;
      color: s.$gray-dark;
      border-color: s.$gray-dark;
    }
  }

  &.lessPadding {
    padding: s.$size-16 s.$size-8;
  }
}
