.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  background-color: $primary;
  border-radius: $size-52;
  border: none;
  color: $secondary;
  cursor: pointer;
  display: inline-block;
  font-family: $font-family;
  font-weight: bold;
  font-size: $size-16;
  text-transform: uppercase;
  letter-spacing: $size-1;
  padding: $size-16 $size-32;
  text-align: center;
  text-decoration: none;
  transition-duration: $animation-speed;
  @include outlineBox;

  @media screen and (max-width: ($tablet-md - 1)) {
    font-size: $size-14;
    padding: $size-8 $size-16;
  }

  &:hover {
    @media screen and (min-width: ($tablet-md)) {
      background-color: $primary-light;
      color: $secondary;
    }
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: $primary-light;
    cursor: not-allowed;
  }

  &[class$='-outline'] {
    border-width: $size-2;
    border-style: solid;

    @media screen and (max-width: ($tablet - 1)) {
      border-width: $mobile-border-size;
    }
  }

  &.primary-outline {
    background-color: transparent;
    color: $primary;
    border-color: $primary;

    &:hover {
      @media screen and (min-width: ($tablet-md)) {
        background-color: $primary;
        color: $secondary;
      }
    }

    &:disabled {
      background-color: $primary-light;
      color: $gray-dark;
      border-color: $gray-dark;
    }
  }

  &.secondary {
    background-color: $secondary;
    color: $black;

    &:hover {
      @media screen and (min-width: ($tablet-md)) {
        background-color: $secondary-dark;
      }
    }

    &:disabled {
      background-color: $gray-light;
    }
  }

  &.secondary-outline {
    background-color: transparent;
    color: $secondary;
    border-color: $secondary;

    &:hover {
      @media screen and (min-width: ($tablet-md)) {
        background-color: $secondary;
        color: $black;
      }
    }

    &:disabled {
      background-color: $gray-light;
      color: $gray;
      border-color: $gray;
    }
  }

  &.tertiary {
    background-color: $tertiary;

    &:hover {
      @media screen and (min-width: ($tablet-md)) {
        background-color: $tertiary-dark;
      }
    }

    &:disabled {
      background-color: $tertiary-light;
      color: $gray-dark;
    }
  }

  &.tertiary-outline {
    background-color: transparent;
    color: $tertiary;
    border-color: $tertiary;

    &:hover {
      @media screen and (min-width: ($tablet-md)) {
        background-color: $tertiary;
        color: $secondary;
      }
    }

    &:disabled {
      background-color: $tertiary-light;
      color: $gray-dark;
      border-color: $gray-dark;
    }
  }

  &.quaternary {
    background-color: $quaternary;
    color: $black;

    &::selection {
      background: $quaternary-dark;
      color: $white;
    }

    &:hover {
      @media screen and (min-width: ($tablet-md)) {
        background-color: $quaternary-dark;
      }
    }

    &:disabled {
      background-color: $quaternary-light;
      color: $gray-dark;
    }
  }

  &.quaternary-outline {
    background-color: transparent;
    color: $quaternary;
    border-color: $quaternary;

    &:hover {
      @media screen and (min-width: ($tablet-md)) {
        background-color: $quaternary;
        color: $secondary;

        &::selection {
          background: $quaternary-dark;
          color: $white;
        }
      }
    }

    &:disabled {
      background-color: $quaternary-light;
      color: $gray-dark;
      border-color: $gray-dark;
    }
  }

  &.black {
    background-color: $black;
    color: $white;

    &:hover {
      @media screen and (min-width: ($tablet-md)) {
        background-color: $white;
        color: $black;
      }
    }

    &:disabled {
      background-color: $gray-light;
      color: $gray-dark;
    }
  }

  &.black-outline {
    background-color: transparent;
    border-color: $black;
    color: $black;

    &:hover {
      @media screen and (min-width: ($tablet-md)) {
        background-color: $black;
        color: $white;
      }
    }

    &:disabled {
      background-color: $gray-light;
      color: $gray-dark;
      border-color: $gray-dark;
    }
  }

  &.white {
    background-color: $white;
    color: $black;

    &:hover {
      @media screen and (min-width: ($tablet-md)) {
        background-color: $black;
        color: $white;
      }
    }

    &:disabled {
      background-color: $gray-light;
      color: $gray-dark;
    }
  }

  &.white-outline {
    background-color: transparent;
    border-color: $white;
    color: $white;

    &:hover {
      @media screen and (min-width: ($tablet-md)) {
        background-color: $white;
        color: $black;
      }
    }

    &:disabled {
      background-color: $gray-light;
      color: $gray-dark;
      border-color: $gray-dark;
    }
  }

  &.lessPadding {
    padding: $size-16 $size-8;
  }
}
