@use '../settings' as s;

.buttonList {
  display: flex;
  gap: s.$size-16;
  flex-wrap: wrap;
  align-items: center;

  li {
    margin: 0;

    &.social {
      a {
        width: s.$size-32;
        height: s.$size-32;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 0;
      }
    }
  }

  .button {
    @media screen and (max-width: ($mobile-lg - 1)) {
      display: block;
      width: 100%;
    }
  }
}
