.container {
  max-width: $desktop;
  margin: 0 auto;
  padding: 0 $size-16;

  &.narrow {
    max-width: $tablet-md;
  }

  &.narrower {
    max-width: $mobile-lg;
  }

  &.wide {
    max-width: $desktop-lg;
  }

  &.wider {
    max-width: $widescreen;
  }

  &.full {
    max-width: none;
  }
}
