@use '../settings' as s;

.container {
  max-width: s.$desktop;
  margin: 0 auto;
  padding: 0 s.$size-32;

  &.narrow {
    max-width: s.$tablet-md;
  }

  &.narrower {
    max-width: s.$mobile-lg;
  }

  &.wide {
    max-width: s.$desktop-lg;
  }

  &.wider {
    max-width: s.$widescreen-lg;
  }

  &.full {
    max-width: none;
  }
}
