@use '../settings' as s;

.event {
  display: flex;
  gap: s.$size-32;
  width: 100%;
  justify-content: space-between;
  border-top: s.$size-2 solid s.$black;
  padding-top: s.$size-32;

  @media screen and (max-width: ($tablet - 1)) {
    flex-direction: column;
  }

  + .event {
    margin-top: s.$size-32;
  }

  p {
    margin: 0;
  }

  .title {
    font-size: s.$size-24;
    font-family: s.$font-extra;
  }

  .date {
    font-size: s.$size-20;
    font-family: s.$font-extra;
    width: s.$size-104;
    line-height: 1;

    @media screen and (max-width: ($tablet-md - 1)) {
      width: s.$size-72;
      font-size: s.$size-24;
    }

    @media screen and (max-width: ($tablet - 1)) {
      width: 100%;
    }
  }

  .links {
    width: s.$size-200;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (max-width: ($tablet-md - 1)) {
      width: s.$size-160;
    }

    @media screen and (max-width: ($tablet - 1)) {
      width: 100%;
    }

    a {
      width: 100%;
      padding: s.$size-16 s.$size-8;

      @media screen and (max-width: ($tablet-md - 1)) {
        font-size: s.$size-14;
        padding: s.$size-8;
      }

      @media screen and (max-width: ($tablet - 1)) {
        display: inline-block;
        width: auto;
      }
    }
  }

  .button {
    min-width: s.$size-100;
  }

  .location {
    width: calc(100% - s.$size-320);
    font-size: s.$size-12;
    display: flex;
    flex-direction: column;
    gap: s.$size-10;
    a {
      color: s.$black;

      .bg-blue &,
      .bg-image &,
      .bg-black & {
        color: s.$white;
      }

      &:hover {
        span {
          text-decoration: underline;
        }
      }
    }

    @media screen and (max-width: ($tablet-md - 1)) {
      width: calc(100% - s.$size-230);
    }

    @media screen and (max-width: ($tablet - 1)) {
      width: 100%;
    }

    span {
      font-size: s.$size-20;
      line-height: 1;

      &.otherBands {
        line-height: 1.2;
        display: block;
      }
    }

    a.band {
      text-decoration: underline;

      &:hover {
        @media screen and (min-width: ($tablet-md)) {
          opacity: 0.3;
        }
      }
    }
  }
}
