@use '../settings' as s;
@use '../mixins' as m;

.mediaCard {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  color: s.$black;

  &:hover {
    @media screen and (min-width: (s.$tablet-md)) {
      color: s.$tertiary;
      text-decoration: underline;
    }
  }

  .image {
    position: relative;
    height: s.$size-256;
    width: 100%;
    border-radius: s.$size-10;
    overflow: hidden;
    @include m.outlineBox;
  }

  .meta {
    display: flex;
    gap: s.$size-12;
    flex-direction: column;
    padding: s.$size-16 0 0;

    .title {
      margin: s.$size-32 0 s.$size-16;
      font-weight: normal;
      line-height: 1.1;
      font-family: s.$heading-family;
      @include m.headingSix;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    p {
      margin: 0;
      // ellipsis after 2 lines
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; // number of lines to show
      -webkit-box-orient: vertical;
    }
  }
}
