.mediaCard {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  color: $black;

  &:hover {
    @media screen and (min-width: ($tablet-md)) {
      color: $tertiary;
      text-decoration: underline;
    }
  }

  .image {
    position: relative;
    height: $size-256;
    width: 100%;
    border-radius: $size-10;
    overflow: hidden;
    @include outlineBox;
  }

  .meta {
    display: flex;
    gap: $size-12;
    flex-direction: column;
    padding: $size-16 0 0;

    .title {
      @extend .heading;
      @include headingSix;
    }

    p {
      margin: 0;
      // ellipsis after 2 lines
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; // number of lines to show
      -webkit-box-orient: vertical;
    }
  }
}
