@use '../settings' as s;

.modal-bg,
.modal-close {
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 999;
}
.modal-bg {
  background-color: rgba(s.$black, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: s.$secondary;
  max-width: 700px;
  min-width: 320px;
  padding: 20px;
  overflow: auto;
  z-index: 999;
  position: relative;
  border-radius: s.$size-24;

  .modal-close-button {
    position: absolute;
    top: s.$size-16;
    right: s.$size-16;
    background: none;
    border: none;
    cursor: pointer;
    padding: s.$size-8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: s.$black;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: rgba(s.$black, 0.1);
    }

    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }
  }

  .playlists-do {
    display: flex;
    flex-wrap: wrap;
    columns: 3;
    gap: 1rem;
  }

  .playlist-item {
    border: 1px solid s.$gray;
    flex: 1 1 0;
    width: 150px;
    padding: 5px;
  }

  .playlist-img {
    height: 150px;
    width: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
}

.contact-modal {
  .heading {
    margin-bottom: s.$size-24;
    font-family: s.$heading-family;
    color: s.$black;
    width: calc(100% - 40px);
  }

  .formField {
    width: 100%;
  }

  .form-fields {
    display: flex;
    flex-direction: column;
    gap: s.$size-16;
    margin-bottom: s.$size-24;
  }

  .form-buttons {
    display: flex;
    gap: s.$size-16;
    justify-content: flex-end;

    @media screen and (max-width: (s.$mobile-lg - 1)) {
      flex-direction: column;
    }
  }

  .success-message {
    text-align: center;
    padding: s.$size-32;

    p {
      color: s.$success;
      font-size: s.$size-18;
      margin: 0;
    }
  }

  .error-message {
    margin-bottom: s.$size-16;

    p {
      color: s.$danger;
      margin: 0;
      font-size: s.$size-14;
    }
  }
}
