.productCard {
  display: flex;
  flex-direction: column;
  gap: $size-16;
  justify-content: space-between;

  .content {
    display: flex;
    flex-direction: column;
    gap: $size-1;
  }

  .image {
    width: $size-200;
    height: $size-200;
    position: relative;
    margin: 0 auto;
    background-color: $white;
    border-radius: $size-10;
    overflow: hidden;
    @include outlineBox;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  .price {
    font-family: $heading-family;
    font-size: $size-24;
    margin-top: $size-16;
    color: $primary;
  }

  .button-group {
    margin-top: $size-16;
  }

  .spacer {
    @media screen and (min-width: ($mobile-lg)) {
      height: 47px;
    }
  }
}
