@use '../settings' as s;
@use '../mixins' as m;

.videoItem {
  .headingTag {
    font-size: s.$heading-5;
    margin-bottom: s.$size-16;
  }

  > div {
    height: 0 !important;
    width: 100% !important;
    overflow: hidden;
    padding-bottom: 56.25% !important;
    position: relative;
    border-radius: s.$size-20;
    overflow: hidden;
    @include m.outlineBox;

    > div {
      height: 100% !important;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      width: 100% !important;
    }

    .react-player__play-icon {
      width: 100px;
    }
  }
}
