@use '../settings' as s;

.bigBanner {
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  overflow: hidden;

  @media screen and (max-width: (2499px)) {
    padding-bottom: 56.25%;
  }

  @media screen and (min-width: (2500px)) {
    height: 100svh;
    max-height: s.$widescreen;
  }

  img {
    user-select: none;
  }

  .logo {
    position: relative;
    z-index: 2;
    max-width: 800px;
    width: 50%;

    @media screen and (max-width: ($tablet-lg - 1)) {
      max-width: 500px;
      width: 75%;
    }

    @media screen and (max-width: ($tablet-md - 1)) {
      width: 80%;
    }
  }
}

.component_bigBanner {
  + section {
    &.component_ctaBanner {
      padding-bottom: s.$size-100;

      .contained {
        @media screen and (min-width: ($desktop-lg)) {
          margin-top: -$size-100;
          margin-bottom: 0;
        }
      }
    }
  }
}
