.ctaBanner {
  position: relative;
  padding: $size-64 0;

  @media screen and (max-width: ($tablet-md - 1)) {
    padding: $size-32 0;
  }

  &.contained {
    max-width: $widescreen;
    margin: 0 auto;
    border-radius: $size-52;
    overflow: hidden;
    padding: $size-60 $size-32 $size-288;

    @media screen and (max-width: ($widescreen - 1)) {
      border-radius: 0;
    }

    @media screen and (min-width: ($tablet-md)) {
      padding: $size-144 $size-32 $size-288;
    }

    .container {
      padding: 0;
      max-width: $desktop-md;
    }
  }

  .container {
    position: relative;
  }

  .headingTag {
    @include headingFour;
  }

  .subheading {
    text-transform: uppercase;
    letter-spacing: $size-2;

    @media screen and (max-width: ($tablet-md - 1)) {
      font-size: $size-14;
    }
  }

  .message {
    margin: $size-16 0 $size-24;

    @media screen and (min-width: ($tablet-md)) {
      max-width: $size-416;
    }
  }

  .copy {
    position: relative;
    z-index: 2;

    @media screen and (min-width: ($tablet-md)) {
      max-width: $size-640;
    }

    &.flex {
      display: flex;
      max-width: none;
      align-items: flex-start;
      gap: $size-32;
      flex-direction: column;

      @media screen and (min-width: ($tablet-md)) {
        flex-direction: row-reverse;
      }

      > div,
      > img {
        display: block;
        height: auto;
      }

      > div {
        @media screen and (min-width: ($tablet-md)) {
          width: 45%;
        }
      }

      > img {
        @media screen and (min-width: ($tablet-md)) {
          width: 55%;
        }
      }
    }
  }
}
