@use '../settings' as s;
@use '../mixins' as m;

.form {
  .title {
    @include m.headingFive;
    font-family: s.$heading-family;
  }

  .description,
  .beforeSubmit {
    margin-bottom: s.$size-16;
    max-width: s.$size-512;
  }

  .fields {
    display: flex;
    flex-direction: column;
    gap: s.$size-16;
  }

  .required {
    color: s.$danger;
  }

  .response {
    max-width: s.$size-704;

    p {
      font-family: s.$heading-family;
      line-height: 1.2;
      font-size: s.$size-32;

      @media screen and (max-width: (s.$tablet-md - 1)) {
        font-size: s.$size-24;
      }
    }

    .error {
      color: s.$danger;
    }

    .success {
      color: s.$success;
    }
  }

  button[type='submit'] {
    margin-top: s.$size-32;
  }
}
