@use '../settings' as s;

.gallery {
  button {
    padding: 0;
    border: none;
    background: none;
    position: relative;
    height: s.$size-200;
    width: calc(20% - s.$size-16);

    @media screen and (max-width: ($desktop - 1)) {
      width: calc(25% - s.$size-16);
    }

    @media screen and (max-width: ($tablet-lg - 1)) {
      width: calc(33.333% - s.$size-16);
    }

    @media screen and (max-width: ($tablet - 1)) {
      width: calc(50% - s.$size-8);
    }

    @media screen and (max-width: ($mobile-md - 1)) {
      height: s.$size-128;
    }

    &:not(.close) {
      @include outlineBox;
    }
  }

  .next,
  .prev {
    button {
      border: none;
      display: flex;
      width: 3rem;
      height: 3rem;
      align-items: center;
      justify-content: center;
    }
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: s.$size-16;

    button {
      border-radius: s.$size-8;
      overflow: hidden;
    }
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    max-width: none;
    transform: translateX(0);
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition-duration: s.$animation-speed;
    transition-timing-function: ease-in-out;
    opacity: 0;

    &.open {
      pointer-events: all;
      opacity: 1;
    }

    button {
      &.close {
        color: s.$white;
        position: absolute;
        width: s.$size-48;
        height: s.$size-48;
        display: flex;
        align-items: center;
        justify-content: center;
        top: s.$size-16;
        right: s.$size-16;
        z-index: 1001;
      }
    }

    .prev {
      left: s.$size-16;
    }

    .next {
      right: s.$size-16;
    }

    .prev,
    .next {
      background: none;
      border: none;
      color: s.$white;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1001;
      cursor: pointer;
      transition-duration: s.$animation-speed;
      transition-timing-function: ease-in-out;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }

      &:disabled {
        opacity: 0.2;
        cursor: not-allowed;
      }
    }

    .inner,
    .image {
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .inner {
      .activeImage {
        opacity: 1;
        transition-duration: s.$animation-speed;
        transition-timing-function: ease-in-out;
        object-fit: contain;
        max-width: 90%;
        max-height: 90%;
      }

      &.mainImgLoading {
        .activeImage {
          opacity: 0;
        }
      }
    }
  }
}
