@use '../settings' as s;
@use '../mixins' as m;

.members {
  .inner {
    display: flex;
    gap: s.$size-32;

    @media screen and (max-width: (s.$tablet-xl - 1)) {
      gap: s.$size-16;
    }

    @media screen and (max-width: (s.$tablet - 1)) {
      flex-wrap: wrap;
    }
  }

  .member {
    width: 100%;
  }
}

.member {
  @media screen and (max-width: (s.$tablet - 1)) {
    text-align: center;
  }

  .image-container {
    position: relative;
    width: 100%;
    height: s.$size-368;

    @media screen and (max-width: (s.$tablet-xl - 1)) {
      height: s.$size-200;
    }

    @media screen and (max-width: (s.$tablet - 1)) {
      max-width: s.$size-288;
      margin: 0 auto;
    }
  }

  img {
    border-radius: s.$size-10;
    overflow: hidden;
    display: block;
    @include m.outlineBox;
  }

  p {
    margin: s.$size-8 0;

    strong {
      font-size: s.$size-20;

      @media screen and (min-width: (s.$tablet-md)) {
        font-size: s.$size-24;
      }
    }
  }

  .buttonList {
    @media screen and (max-width: (s.$tablet - 1)) {
      justify-content: center;
    }
    .social {
      a {
        width: s.$size-20;
      }
    }
  }
}
