@use '../settings' as s;

.merchFilter {
  display: flex;
  flex-direction: column;
  gap: s.$size-64;

  .headingTag {
    margin-bottom: s.$size-48;
  }

  .category {
    display: flex;
    flex-direction: column;

    .headingTag {
      position: sticky;
      font-size: s.$size-60;
      top: 0;
      text-align: center;
      padding: s.$size-8 s.$size-16;
      z-index: 4;
      background-color: s.$secondary;
      color: s.$black;

      @media screen and (max-width: ($tablet-md - 1)) {
        font-size: s.$size-28;
      }
    }
  }
}
