@use '../settings' as s;
@use '../mixins' as m;

.pageBanner {
  position: relative;
  color: s.$white;
  text-align: center;
  padding: s.$size-45 0;
  color: s.$secondary;

  .pageOrder_1 & {
    padding-top: s.$size-100;
  }

  @media screen and (min-width: (s.$tablet-md)) {
    padding: s.$size-100 0;

    .pageOrder_1 & {
      padding-top: s.$size-144;
    }
  }

  @media screen and (min-width: (s.$tablet-lg)) {
    padding: s.$size-144 0;

    .pageOrder_1 & {
      padding-top: s.$size-180;
    }
  }

  &::before {
    content: '';
    background-color: rgba(s.$black, 0.3);
    @include m.absoluteOverlay;
  }

  &::after {
    content: '';
    mix-blend-mode: color;
    background-color: rgba(s.$black, 0.3);
    @include m.absoluteOverlay;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .headingTag {
    margin: 0;
    @include m.headingOne;
  }

  .subheading {
    margin: 0 0 s.$size-16;
    text-transform: uppercase;
    font-weight: bold;
  }
  .copy {
    margin-top: s.$size-32;
  }

  .buttonList {
    margin-top: s.$size-32;
    justify-content: center;

    @media screen and (max-width: (s.$mobile-lg - 1)) {
      flex-direction: column;
    }
  }
}
