.pageBanner {
  position: relative;
  color: $white;
  text-align: center;
  padding: $size-45 0;
  color: $secondary;

  @media screen and (min-width: ($tablet-md)) {
    padding: $size-100 0;
  }

  @media screen and (min-width: ($tablet-lg)) {
    padding: $size-144 0;
  }

  &::before {
    @include absoluteOverlay;
    content: '';
    background-color: rgba($black, 0.3);
  }

  &::after {
    @include absoluteOverlay;
    content: '';
    mix-blend-mode: color;
    background-color: rgba($black, 0.3);
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .headingTag {
    @include headingOne;
    margin: 0;
  }

  .subheading {
    margin: 0 0 $size-16;
    text-transform: uppercase;
    font-weight: bold;
  }
  .copy {
    margin-top: $size-32;
  }

  .buttonList {
    margin-top: $size-32;
    justify-content: center;

    @media screen and (max-width: ($mobile-lg - 1)) {
      flex-direction: column;
    }
  }
}
