.products {
  .list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $size-48;

    @media screen and (max-width: ($tablet-xl - 1)) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: ($tablet-md - 1)) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: ($mobile-lg - 1)) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .info {
    font-family: $heading-family;
    font-size: $size-24;
  }

  .productCard {
    border-bottom: $size-1 solid $secondary-dark;
    padding-bottom: $size-24;
  }
}
