@use './settings' as s;

footer {
  background-color: s.$black;
  color: s.$white;
  padding: s.$size-20;
  text-align: center;
  min-height: s.$size-144;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .buttonList {
    justify-content: center;

    a {
      color: s.$white;
    }
  }
}
