main {
  font-family: $font-family;
  background-color: $white;
}

*::selection {
  background: $quaternary;
  color: $white;
}

a {
  color: $tertiary;
  transition-duration: $animation-speed;

  &:hover {
    @media screen and (min-width: ($tablet-md)) {
      color: $primary;
    }

    .zoom-image {
      @media screen and (min-width: ($tablet-md)) {
        transform: scale(1.1);
      }
    }
  }

  .zoom-image {
    position: relative;
    transform: scale(1) rotate(0deg);
    transition-duration: $animation-speed;
    transition-timing-function: ease-in-out;
    height: 100%;
    width: 100%;
  }
}

ol,
ul {
  &.unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.mobile-only {
  @media screen and (min-width: ($tablet-md)) {
    display: none;
  }
}

.desktop-only {
  @media screen and (max-width: ($tablet-md - 1)) {
    display: none;
  }
}

.flex-row {
  display: flex;
  gap: $size-32;

  @media screen and (max-width: ($tablet-md - 1)) {
    flex-direction: column;
  }

  &.reverse {
    @media screen and (max-width: ($tablet-md - 1)) {
      flex-direction: column-reverse;
    }
  }

  &.center {
    align-items: center;
  }
}

.bg-white,
.bg-blue,
.bg-black,
.bg-image {
  li {
    &.social {
      a {
        &:hover {
          @media screen and (min-width: ($tablet-md)) {
            opacity: 0.6;
          }
        }
      }
    }
  }
}

.bg-white {
  background-color: $secondary;
  color: $black;

  a:not(.button) {
    color: $black;
  }
}

.bg-blue {
  background-color: $tertiary;
  color: $secondary;

  a:not(.button) {
    color: $secondary;
  }
}

.bg-black {
  background-color: $black;
  color: $secondary;

  a:not(.button) {
    color: $secondary;
  }
}

.bg-image {
  color: $secondary;

  a:not(.button) {
    color: $secondary;
  }
}

.sr-only {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.bg-fit {
  object-fit: cover;
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
}

.button-group {
  display: flex;

  .button {
    width: 100%;
    padding: $size-8 $size-16;
    border-radius: 0;
    border: $size-2 solid;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
      border-left: $size-2 solid;
      border-radius: $size-5 0 0 $size-5;
    }

    &:last-child {
      border-radius: 0 $size-5 $size-5 0;
    }
  }
}

.heading-container {
  .inner {
    max-width: $tablet;
    margin-bottom: $size-48;
  }
}

.page-component:not(.component_bigBanner) {
  padding: $size-100 0;
}
