@use './settings' as s;

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  position: relative;
}

* {
  &:focus {
    outline: s.$size-4 solid s.$primary !important;
    outline-offset: s.$size-4 !important;
  }
}

main {
  font-family: s.$font-family;
  position: relative;
  color: s.$black;
}

*::selection {
  background: s.$quaternary;
  color: s.$white;
}

a {
  color: s.$tertiary;
  transition-duration: s.$animation-speed;

  &:hover {
    @media screen and (min-width: ($tablet-md)) {
      color: s.$tertiary-light;
    }

    .zoom-image {
      @media screen and (min-width: ($tablet-md)) {
        transform: scale(1);
      }
    }
  }

  .zoom-image {
    position: relative;
    transform: scale(1) rotate(0deg);
    transition-duration: s.$animation-speed;
    transition-timing-function: ease-in-out;
    height: 100%;
    width: 100%;
  }
}

ol,
ul {
  &.unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.mobile-only {
  @media screen and (min-width: ($tablet-md)) {
    display: none;
  }
}

.desktop-only {
  @media screen and (max-width: ($tablet-md - 1)) {
    display: none;
  }
}

.flex-row {
  display: flex;
  gap: s.$size-32;

  @media screen and (max-width: ($tablet-md - 1)) {
    flex-direction: column;
  }

  &.reverse {
    @media screen and (max-width: ($tablet-md - 1)) {
      flex-direction: column-reverse;
    }
  }

  &.center {
    align-items: center;
  }
}

.bg-white,
.bg-blue,
.bg-black,
.bg-image {
  li {
    &.social {
      a {
        &:hover {
          @media screen and (min-width: ($tablet-md)) {
            opacity: 0.6;
          }
        }
      }
    }
  }
}

.bg-white {
  background-color: s.$secondary;
  color: s.$black;
  border-color: s.$black;

  a:not(.button) {
    color: s.$black;
  }
}

.bg-blue {
  background-color: s.$tertiary;
  color: s.$secondary;
  border-color: s.$secondary;

  a:not(.button) {
    color: s.$secondary;
  }
}

.bg-black {
  background-color: s.$black;
  color: s.$secondary;
  border-color: s.$secondary;

  a:not(.button) {
    color: s.$secondary;
  }
}

.no-bg {
  background-color: transparent;
  color: s.$secondary;
  border-color: s.$secondary;

  a:not(.button) {
    color: s.$secondary;
  }
}

.sr-only {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.bg-fit {
  pointer-events: none;
  user-select: none;
  object-fit: cover;
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
}

.button-group {
  display: flex;

  .button {
    width: 100%;
    padding: s.$size-8;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
      border-right: 0;
      border-radius: s.$size-5 0 0 s.$size-5;
    }

    &:last-child {
      border-radius: 0 s.$size-5 s.$size-5 0;
    }
  }
}

.heading-container {
  text-align: center;

  .headingTag {
    font-size: s.$size-60;

    @media screen and (max-width: ($tablet-md - 1)) {
      font-size: s.$size-45;
    }
  }

  .inner {
    max-width: s.$desktop;
    margin: 0 auto s.$size-48;
  }
}

.page-component {
  border-top: s.$border-size solid s.$black;

  &.bg-white + .bg-white,
  &.bg-blue + .bg-blue,
  &.bg-black + .bg-black {
    padding-top: 0;
  }

  &:first-child {
    border-top: none;
  }

  &:not(.component_bigBanner, .component_ctaBanner, .component_pageBanner) {
    padding: s.$size-100 0;

    @media screen and (max-width: ($tablet-md - 1)) {
      padding: s.$size-48 0;
    }

    @media screen and (max-width: ($tablet - 1)) {
      border-width: s.$mobile-border-size;
    }

    &.pageOrder_1 {
      padding-top: s.$size-80;

      @media screen and (min-width: ($tablet-md)) {
        padding-top: s.$size-100;
      }

      @media screen and (min-width: ($tablet-lg)) {
        padding-top: s.$size-144;
      }
    }
  }
}

[data-label='image-container'],
[data-label='background-container'] {
  position: relative;
}

[data-label='background-container'] {
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;

  img {
    object-fit: cover;
  }

  &.mainBg {
    position: fixed;
  }
}

[data-label='image-container'] {
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.innerPage {
  min-height: calc(100svh - s.$size-144);
}
