@use './settings' as s;

header {
  background-color: transparent;
  padding: s.$size-16;
  position: absolute;
  width: 100%;
  z-index: 1;
  text-transform: uppercase;

  &.dark {
    a {
      color: s.$black;
    }
  }

  a {
    color: s.$white;
    font-family: s.$font-bold;
    font-size: s.$size-16;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    gap: s.$size-52;
  }

  li {
    margin: 0;
  }
}
