header {
  background-color: transparent;
  padding: $size-16;
  position: absolute;
  width: 100%;
  z-index: 1;
  text-transform: uppercase;

  &.dark {
    a {
      color: $black;
    }
  }

  a {
    color: $white;
    font-family: $font-bold;
    font-size: $size-16;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    gap: $size-52;
  }

  li {
    margin: 0;
  }
}
