@use './settings' as s;

header {
  background-color: transparent;
  padding: s.$size-16;
  position: absolute;
  width: 100%;
  z-index: 3;
  text-transform: uppercase;

  &.dark {
    a {
      color: s.$black;
    }

    .mobile-menu-toggle {
      color: s.$black;
    }
  }

  a {
    color: s.$white;
    font-family: s.$font-bold;
    font-size: s.$size-16;
  }

  .desktop-nav {
    @media screen and (max-width: (s.$tablet-md - 1)) {
      display: none;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style-type: none;
      padding: 0;
      gap: s.$size-52;
    }

    li {
      margin: 0;
    }
  }

  .mobile-menu-toggle {
    display: none;
    background: none;
    border: none;
    color: s.$white;
    cursor: pointer;
    padding: s.$size-8;
    position: absolute;
    top: s.$size-16;
    left: s.$size-16;
    z-index: 1001;

    @media screen and (max-width: (s.$tablet-md - 1)) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: s.$black;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    display: none;

    @media screen and (max-width: (s.$tablet-md - 1)) {
      display: block;
    }

    &.open {
      transform: translateX(0);
    }

    .mobile-nav {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center;

        li {
          margin: s.$size-32 0;

          div {
            cursor: pointer;
          }

          a {
            color: s.$white;
            font-family: s.$font-bold;
            font-size: s.$size-24;
            text-decoration: none;
            display: block;
            padding: s.$size-16;
            transition: opacity 0.2s ease;

            &:hover {
              opacity: 0.8;
            }

            @media screen and (min-width: s.$mobile-lg) {
              font-size: s.$size-32;
            }
          }
        }
      }
    }
  }

  .snipcart-checkout {
    position: absolute;
    top: s.$size-16;
    right: s.$size-16;
    padding: s.$size-10 s.$size-16 s.$size-8 s.$size-16;
    background-color: s.$white;
    color: s.$black !important;
    font-family: s.$font-bold;
    font-size: s.$size-16;
    border-radius: s.$size-10;
    text-decoration: none;
    z-index: 1001;
  }
}
