@mixin headingOne {
  font-size: $heading-1;

  @media screen and (max-width: ($tablet-lg - 1)) {
    font-size: $heading-2;
  }

  @media screen and (max-width: ($tablet - 1)) {
    font-size: $heading-3;
  }
}

@mixin headingTwo {
  font-size: $heading-2;

  @media screen and (max-width: ($tablet-lg - 1)) {
    font-size: $heading-3;
  }

  @media screen and (max-width: ($tablet - 1)) {
    font-size: $heading-4;
  }
}

@mixin headingThree {
  font-size: $heading-3;

  @media screen and (max-width: ($tablet-lg - 1)) {
    font-size: $heading-4;
  }

  @media screen and (max-width: ($tablet - 1)) {
    font-size: $heading-5;
  }
}

@mixin headingFour {
  font-size: $heading-4;

  @media screen and (max-width: ($tablet-lg - 1)) {
    font-size: $heading-5;
  }
}

@mixin headingFive {
  font-size: $heading-5;

  @media screen and (max-width: ($tablet-lg - 1)) {
    font-size: $heading-6;
  }
}

@mixin headingSix {
  font-size: $heading-6;
}

@mixin absoluteOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin outlineBox {
  outline: $border-size solid $black;

  .bg-blue &,
  .bg-black &,
  .bg-image & {
    outline-color: $white;
  }
}
