@use './settings' as s;

@mixin headingOne {
  font-size: s.$heading-1;

  @media screen and (max-width: ($tablet-lg - 1)) {
    font-size: s.$heading-2;
  }

  @media screen and (max-width: ($tablet - 1)) {
    font-size: s.$heading-3;
  }
}

@mixin headingTwo {
  font-size: s.$heading-2;

  @media screen and (max-width: ($tablet-lg - 1)) {
    font-size: s.$heading-3;
  }

  @media screen and (max-width: ($tablet - 1)) {
    font-size: s.$heading-4;
  }
}

@mixin headingThree {
  font-size: s.$heading-3;

  @media screen and (max-width: ($tablet-lg - 1)) {
    font-size: s.$heading-4;
  }

  @media screen and (max-width: ($tablet - 1)) {
    font-size: s.$heading-5;
  }
}

@mixin headingFour {
  font-size: s.$heading-4;

  @media screen and (max-width: ($tablet-lg - 1)) {
    font-size: s.$heading-5;
  }
}

@mixin headingFive {
  font-size: s.$heading-5;

  @media screen and (max-width: ($tablet-lg - 1)) {
    font-size: s.$heading-6;
  }
}

@mixin headingSix {
  font-size: s.$heading-6;
}

@mixin absoluteOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin outlineBox {
  border: s.$border-size solid s.$black;

  @media screen and (max-width: ($tablet - 1)) {
    border-width: s.$mobile-border-size;
  }

  .bg-blue &,
  .bg-black &,
  .bg-image & {
    border-color: s.$white;
  }
}
