$font-family: 'FU Book', monospace;
$heading-family: 'ME Bold', monospace;

$primary: #cf1e3a;
$primary-light: #ef8080;
$primary-lighter: #fdeded;
$primary-dark: #a31414;
$primary-darker: #490909;
$secondary: #f2f2ec;
$secondary-dark: #c5c5aa;
$secondary-darker: #6d6d4a;
$tertiary: #3c5ba9;
$tertiary-light: #9bb3e9;
$tertiary-lighter: #dee6f8;
$tertiary-dark: #162f64;
$quaternary: #dea211;
$quaternary-light: #f7d68b;
$quaternary-dark: #8c6e0a;
$white: #ffffff;
$black: #1a1a1a;

$success: #2ecc71;
$success-light: #a9e6c4;
$warning: #f1c40f;
$warning-light: #f9e79f;
$danger: $primary;
$danger-light: $primary-light;

$animation-speed: 0.2s;

$size-1: 0.0625rem;
$size-2: 0.125rem;
$size-3: 0.1875rem;
$size-4: 0.25rem;
$size-5: 0.3125rem;
$size-6: 0.375rem;
$size-7: 0.4375rem;
$size-8: 0.5rem;
$size-9: 0.5625rem;
$size-10: 0.625rem;
$size-12: 0.75rem;
$size-14: 0.875rem;
$size-16: 1rem;
$size-18: 1.125rem;
$size-20: 1.25rem;
$size-24: 1.5rem;
$size-28: 1.75rem;
$size-32: 2rem;
$size-36: 2.25rem;
$size-40: 2.5rem;
$size-45: 2.8125rem;
$size-48: 3rem;
$size-52: 3.25rem;
$size-56: 3.5rem;
$size-60: 3.75rem;
$size-64: 4rem;
$size-72: 4.5rem;
$size-80: 5rem;
$size-84: 5.25rem;
$size-88: 5.5rem;
$size-90: 5.625rem;
$size-96: 6rem;
$size-100: 6.25rem;
$size-104: 6.5rem;
$size-112: 7rem;
$size-120: 7.5rem;
$size-124: 7.75rem;
$size-128: 8rem;
$size-144: 9rem;
$size-160: 10rem;
$size-168: 10.5rem;
$size-176: 11rem;
$size-192: 12rem;
$size-200: 12.5rem;
$size-256: 16rem;

$card: 160px;
$card-lg: 240px;
$mobile: 320px;
$mobile-lg: 480px;
$tablet: 640px;
$tablet-md: 768px;
$tablet-lg: 880px;
$tablet-xl: 992px;
$desktop: 1024px;
$desktop-lg: 1200px;
$widescreen: 1400px;

$heading-1: $size-200;
$heading-2: $size-90;
$heading-3: $size-64;
$subheading: $size-36;
$body: $size-16;
$small: $size-14;
