@use './settings' as s;

@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Jost Bold';
  src: url('/fonts/Jost.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Jost Extra Bold';
  src: url('/fonts/Jost.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Regards';
  src:
    url('/fonts/Regards.woff') format('woff'),
    url('/fonts/Regards.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

// font face with different font weights

p,
ul,
ol,
dl,
blockquote,
figure,
hr,
table,
fieldset {
  margin: s.$size-16 0;
  font-family: s.$font-family;
  line-height: 1.2;
  font-size: s.$size-16;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.heading {
  margin: s.$size-32 0 s.$size-16;
  font-weight: normal;
  line-height: 1.1;
  font-family: s.$heading-family;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: s.$size-32 0 s.$size-16;
  font-weight: normal;
  line-height: 1.1;
  font-family: s.$heading-family;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1,
.h1 {
  font-size: s.$size-52;
}

h2,
.h2 {
  font-size: s.$size-45;
}

h3,
.h3 {
  font-size: s.$size-40;
}

h4,
.h4 {
  font-size: s.$size-32;
}

h5,
.h5 {
  font-size: s.$size-24;
}

h6,
.h6 {
  font-size: s.$size-16;
}

strong,
b {
  font-family: s.$font-bold;
}

em,
i {
  font-style: italic;
}

del,
s {
  text-decoration: line-through;
}

code {
  font-family: monospace;
  font-size: s.$size-14;
  line-height: 1.4;
  background-color: s.$black;
  color: s.$white;
  padding: s.$size-4 s.$size-8;
}

sup {
  font-size: 0.75em;
  vertical-align: super;
  line-height: 0;
}

sub {
  font-size: 0.75em;
  vertical-align: sub;
  line-height: 0;
}

ul {
  list-style: disc;
  padding-left: s.$size-18;
}

ol {
  list-style: decimal;
  padding-left: s.$size-18;
}

li {
  margin: s.$size-5 0;

  &:last-child {
    margin-bottom: 0;
  }

  &:first-child {
    margin-top: 0;
  }
}

dl {
  padding: 0;

  dt {
    font-weight: bold;
  }

  dd {
    margin: 0 0 s.$size-16 s.$size-18;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.block {
  text-transform: uppercase;
}
