.contact {
  @include componentSpacingPadding;
  background-color: $blue;

  .section-heading {
    color: $gold;
  }

  form {
    label {
      color: $white;
    }

    input,
    select,
    textarea {
      color: $white;
      border-color: $gold;
    }

    [type='submit'] {
      background-color: $gold;
      color: $white;
      font-family: $heading-family;
      border-color: transparent;

      &:hover {
        color: $white;
        background: $blue;
        outline: 4px solid $gold;
      }
    }

    .select {
      &:before,
      &:after {
        border-color: $gold transparent transparent transparent;
      }
    }
  }
}
