.imageGallery {
  @include componentSpacingMargin;
  position: relative;

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    > div {
      height: 200px;
      width: calc(20% - 1rem);
      overflow: hidden;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;

      @media screen and (max-width: ($xl - 1)) {
        width: calc(25% - 0.75rem);
      }

      @media screen and (max-width: ($mlg - 1)) {
        height: 150px;
        width: calc(33.3333% - 0.6666rem);
      }
      @media screen and (max-width: ($smd - 1)) {
        height: 150px;
        width: calc(50% - 0.5rem);
      }
      @media screen and (max-width: ($sm - 1)) {
        height: 100px;
      }
    }
  }

  [data-rmiz-content],
  .blur-image {
    height: 100%;

    span {
      height: 100% !important;
      display: block !important;
      width: 100%;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
