.peepee {
  width: 75%;
  margin: 40px auto;
  text-align: center;
  min-width: 1000px;

  input {
    border: 1px solid $black;
    width: 25%;
    margin: 5px;
  }

  button {
    color: $white;
    background-color: $blue;
    border: 1px solid $black;
    padding: 10px;

    &.prev,
    &.next {
      padding: 5px;
    }

    &:disabled {
      background-color: $gray;
    }
  }

  .results-cont {
    & > div {
      display: flex;
      justify-content: space-between;
    }

    .results-item {
      position: relative;
      display: flex;
      justify-content: space-between;
      border: 1px solid $gray;
      padding: 10px;
      margin: 10px;
      overflow: hidden;

      .results-tag {
        position: absolute;
        right: -87px;
        height: 175px;
        width: 175px;
        background-color: $gold;
        color: $blue;
        display: flex;
        justify-content: center;
        font-weight: bold;
        padding: 10px;

        &.pitched {
          top: -87px;
          rotate: 45deg;
          align-items: end;
        }

        &.chugged {
          bottom: -87px;
          rotate: 315deg;
          align-items: start;
        }
      }

      .results-img {
        height: 100px;
        width: 100px;
        background-size: contain;
      }

      .results-data {
        padding: 10px;
        margin-right: 60px;
        width: 100%;

        button {
          color: $blue;
          background-color: transparent;
          border: none;
          padding: 0;

          svg {
            margin: 0 5px;
          }
        }
      }
    }
  }

  .modal-bg {
    top: 0;
    left: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba($black, .75);
  }

  .modal {
    top: 200px;
    left: calc(50% - 350px);
    background-color: $white;
    position: fixed;
    width: 700px;
    margin: 0 auto;
    padding: 20px;
  }
}
