.products {
  @include componentSpacingMargin;

  .product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 40px;
    justify-content: center;
  }

  .product-item {
    width: calc(25% - 2rem);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    text-align: center;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: ($mlg - 1)) {
      width: calc(50% - 2rem);
    }

    @media screen and (max-width: ($sm - 1)) {
      width: 100%;
    }

    h4 {
      margin: 1rem 0 0.5rem;
      line-height: 1.1;

      @media screen and (max-width: ($md - 1)) {
        font-size: 1.1rem;
      }
    }

    .product-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 5px 0;
    }

    .product-img > img {
      object-fit: contain;
    }

    .price {
      margin: 0;
      padding: 0;
      flex: 1;
      font-size: 1.2rem;

      @media screen and (max-width: ($md - 1)) {
        font-size: 1rem;
      }

      @media screen and (min-width: ($md)) {
        margin-bottom: 1rem;
      }
    }

    .button {
      @include buttonItem;
      width: 100%;
      text-align: center;
      align-self: end;
      margin-top: 10px;
      font-family: $heading-family;
      font-weight: bold;
      border: none;
      outline: 2px solid $black;

      &:hover {
        color: $white;
        background: $blue;
        outline: 4px solid $gold;
      }
    }
  }

  .modal {
    height: auto;

    .product-item {
      width: 100%;
      height: 100%;

      .product-img {
        margin: 0 auto;
        max-width: 75%;
      }
    }
  }
}
