.releases {
  @include componentSpacingMargin;

  @media screen and (max-width: ($md - 1)) {
    padding-bottom: 4rem;
    border-bottom: 4px dashed $gold;
  }

  .inner {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .item {
    display: flex;
    align-items: center;
    gap: 5rem;

    @media screen and (max-width: ($xl - 1)) {
      gap: 2rem;
    }

    @media screen and (max-width: ($sm - 1)) {
      flex-direction: column;
    }

    .blur-image {
      width: 100%;
      max-width: 500px;

      @media screen and (max-width: ($lg - 1)) {
        max-width: 300px;
      }

      @media screen and (max-width: ($md - 1)) {
        max-width: 200px;
      }

      @media screen and (max-width: ($sm - 1)) {
        max-width: none;
      }
    }

    .content {
      width: calc(100% - 500px);
      @media screen and (max-width: ($lg - 1)) {
        width: calc(100% - 300px);
      }
      @media screen and (max-width: ($md - 1)) {
        width: calc(100% - 200px);
      }

      @media screen and (max-width: ($sm - 1)) {
        width: auto;
      }
    }
  }

  .big {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    font-size: 3rem;
    font-weight: 700;
    color: $red;

    @media screen and (max-width: ($lg - 1)) {
      font-size: 2rem;
    }
  }

  h4 {
    color: $gold;
    font-size: 5vw;
    line-height: 1;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    @media screen and (min-width: ($xl)) {
      font-size: 5rem;
    }

    @media screen and (max-width: ($md - 1)) {
      font-size: 2.5rem;
    }
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    svg {
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      transform: scale(1);
      path {
        fill: $blue;
      }
    }

    &:hover,
    &:focus {
      @media screen and (min-width: ($lg)) {
        color: $gold;
      }
      svg {
        @media screen and (min-width: ($lg)) {
          transform: scale(1.2);

          path {
            fill: $gold;
          }
        }
      }
    }
  }
}
