.videos {
  @include componentSpacingPadding;
  color: $white;
  background-color: $blue;

  .container {
    display: flex;
    gap: 2rem;
    justify-content: center;

    @media screen and (max-width: ($md - 1)) {
      flex-direction: column;
    }
  }

  .video-box {
    @media screen and (min-width: ($md - 1)) {
      width: 50%;
    }
  }

  p {
    margin: 0;
  }
}
