form {
  label {
    display: block;
    span {
      display: block;
    }
  }

  fieldset {
    &:disabled {
      label {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }

  .submit {
    width: 300px;
    &.loading {
      position: relative;

      &:after {
        content: '';
        height: 48px;
        width: 48px;
        background-image: url('/can.png');
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform-origin: top;
        animation: spin;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
      }
    }
    input[type='submit'] {
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }

  input:not([type='submit'], [type='radio'], [type='checkbox']),
  textarea {
    border: 2px solid;
    padding: 10px;
    width: 100%;

    &:focus {
      border-color: $white;
    }
  }

  .form-field {
    margin: 2rem 0;
  }

  .select {
    position: relative;

    select {
      padding: 10px;
      width: 100%;
      border: 2px solid;
      &:focus {
        border-color: $white;
      }
    }

    &:before,
    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0.5rem 0.5rem 0 0.5rem;
      border-color: $black transparent transparent transparent;
      position: absolute;
      bottom: 1.1rem;
      right: 1rem;
      transform: translateY(-50%);
    }
  }

  .radio,
  .checkbox {
    label {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      gap: 0.5rem;
      cursor: pointer;

      span {
        + input {
          // background-color: $white;
          // height: 0;
          // width: 0;
          // overflow: hidden;
          // opacity: 0;

          &:focus {
            border-color: $white;
          }

          &:checked {
            + [class$='-indicator'] {
              background-color: $red;
            }
          }
          + [class$='-indicator'] {
            display: flex;
            align-items: center;
            justify-content: center;
            justify-items: center;
            width: 1.5rem;
            height: 1.5rem;
            border: 2px solid $black;
          }
        }
      }
    }
  }

  .radio {
    label {
      span {
        + input {
          + [class$='-indicator'] {
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.form-error {
  color: $white;
  font-size: 2rem;
  margin-top: 0.5rem;
  line-height: 1.1;

  h3 {
    font-size: 3rem;
    line-height: 1;
  }
}
