.variant-picker {
  position: relative;
  border: 2px dashed $light-gray;
  margin-top: 10px;
  padding: 10px 15px;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    right: 15px;
    top: 25px;
    border-top: 6px solid $red;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    pointer-events: none;
  }

  button {
    cursor: pointer;
    padding: 5px 0;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 1rem;
  }

  ul,
  li,
  p {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    background-color: $white;
    max-height: 200px;
    overflow: auto;

    &.open {
      display: block;
      border: 2px dashed $light-gray;
    }

    li {
      &:hover {
        color: $white;
        background-color: $blue;
      }

      button {
        padding: 5px 10px;
        font-size: 0.9rem;
      }
    }
  }
}
